<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BIKE SERVICE</title>
</head>
<body>
    <form method="POST">
        <label><b>Model</b></label> <br><br>
        <input type="text" name="mode" value="e.g. Honda"> <br><br>
        <label><b>Daily fee(VND)</b></label> <br><br>
        <input type="text" name="fee" value="100000"> <br><br>
        <label><b>Image</b></label> <br><br>
        <input type="text" name="anh" value="e.g. https://hondaxemay"> <br><br>
        <label><b>Year</b></label><br><br>
        <input type="text" name="date" value="e.g. 2013"> <br><br>
        <input type="submit" style="background-color:cornflowerblue;" value="Submit">
    </form>
</body>
</html>